<html>
  <head>
    <style>
      .top-head {
        background-color: black;
        font-size: 16px;
        height: 130px;
        border-width: 10px;
        color: aliceblue;
        margin: 0;
        display: flex;
        column-gap: 5px;
        column-count:3; 
      }
      html,
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <script src="/bootstrap/scripts/jquery.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="page-header">
    <div class="top-head">
    
      <div><img
        style="height: 70px; width: 75px; backface-visibility: hidden;margin-left: 210px;margin-top: 20px;"
        class="d-inline-block align-top"
        src="../images/vishnulogo.jpg"
        alt=""
      /></div>
      <div style="margin-left: 260px;margin-top: 10px;"><p><h4><center>SHRI VISHNU ENGINEERING<br> COLLEGE FOR WOMEN<i>(Autonomous)</i></center></h4></center><h5><center>Vishnupur,Bhimavaram</center></h5></p><b>
      </div>
    <div id="header1"></div>
  </div>
  </body>
</html>
