<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main> 
          <%- include('./partials/leave'); %>
    </main>
  </body>
</html>