<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <header style="color: aliceblue;" >
        <%- include('./partials/header'); %>
    </header>
    <main> 
      <center><i><h3 style="color: Black;">Adjustment Slots Form</h3></i></center>
          <%- include('./partials/leave'); %>
    </main>
  </body>
</html>