<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
      <h5 style="color: red;margin-left:660px;margin-top: 50px;"><i><%=msg%></i></h5>
          <%- include('./partials/login'); %>
    </main>
    
  </body>
</html>