<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel='stylesheet' href='./stylesheets/style.css' /> -->
  </head>
  <body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
      <center><i><h3 style="color:black;margin-top:40px;">Leave Form</h3></i></center>
          <%- include('./partials/days'); %>
    </main>
    
  </body>
</html>